@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong>
        <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to
    <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the
    <strong>Development</strong> environment by setting the
    <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to
    <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to
    <strong>Development</strong>
    and restarting the app.
</p>

{"query":{"count":1,
          "created":"2018-12-30T09:31:51Z",
          "lang":"zh-TW",
          "results":{"channel":{"units":{"distance":"km","pressure":"mb","speed":"km/h","temperature":"C"},"title":"Yahoo! Weather - Taipei City, TW","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-20070568/","description":"Yahoo! Weather for Taipei City, TW","language":"en-us","lastBuildDate":"Sun, 30 Dec 2018 05:31 PM CST","ttl":"60","location":{"city":"Taipei City","country":"Taiwan","region":" TW"},"wind":{"chill":"59","direction":"70","speed":"33.80"},"atmosphere":{"humidity":"88","pressure":"34067.08","rising":"0","visibility":"25.91"},"astronomy":{"sunrise":"6:38 am","sunset":"5:15 pm"},"image":{"title":"Yahoo! Weather","width":"142","height":"18","link":"http://weather.yahoo.com","url":"http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif"},"item":{"title":"Conditions for Taipei City, TW at 04:00 PM CST","lat":"25.037399","long":"121.564003","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-20070568/","pubDate":"Sun, 30 Dec 2018 04:00 PM CST","condition":{"code":"26","date":"Sun, 30 Dec 2018 04:00 PM CST","temp":"16","text":"Cloudy"},"forecast":[{"code":"11","date":"30 Dec 2018","day":"Sun","high":"16","low":"13","text":"Showers"},{"code":"11","date":"31 Dec 2018","day":"Mon","high":"18","low":"15","text":"Showers"},{"code":"11","date":"01 Jan 2019","day":"Tue","high":"18","low":"16","text":"Showers"},{"code":"11","date":"02 Jan 2019","day":"Wed","high":"18","low":"15","text":"Showers"},{"code":"11","date":"03 Jan 2019","day":"Thu","high":"20","low":"17","text":"Showers"},{"code":"12","date":"04 Jan 2019","day":"Fri","high":"24","low":"18","text":"Rain"},{"code":"39","date":"05 Jan 2019","day":"Sat","high":"24","low":"18","text":"Scattered Showers"},{"code":"11","date":"06 Jan 2019","day":"Sun","high":"20","low":"18","text":"Showers"},{"code":"11","date":"07 Jan 2019","day":"Mon","high":"20","low":"16","text":"Showers"},{"code":"30","date":"08 Jan 2019","day":"Tue","high":"23","low":"16","text":"Partly Cloudy"}],"description":"<![CDATA[
<img src=\"http://l.yimg.com/a/i/us/we/52/26.gif\" />\n<BR />\n<b>Current Conditions:</b>\n<BR />Cloudy\n<BR />\n<BR />\n<b>Forecast:</b>\n<BR /> Sun - Showers. High: 16Low: 13\n<BR /> Mon - Showers. High: 18Low: 15\n<BR /> Tue - Showers. High: 18Low: 16\n<BR /> Wed - Showers. High: 18Low: 15\n<BR /> Thu - Showers. High: 20Low: 17\n<BR />\n<BR />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-20070568/\">Full Forecast at Yahoo! Weather</a>\n<BR />\n<BR />\n<BR />\n]]>","guid":{"isPermaLink":"false"}}}}}}